{% extends 'base.html.twig' %}
{% block body %}
	<section class='hero'>
		<div class='hero-degradation'>
			<figure class='logo logo-hero'>
				<img src="../img/Logo.svg" alt="logo">
			</figure>
		</div>
	</section>
	<section class='section-slogan'>
		<figure class="figure-section-slogan figure-section-slogan-left">
			<img src="../img/wheat.svg" alt="blé">
		</figure>
		<figure class="figure-section-slogan figure-section-slogan-right">
			<img src="../img/malt.svg" alt="grain de malt">
		</figure>
		<h2 class="slogan-section-slogan">votre bière a porte de click, la savuer a votre collect</h2>
	</section>
	<section class="section-slider">
		<div class="efect-lenear">
			<h3>Sélection des inconturnables
				<br>
				<span>à deguster</span>
			</h3>
			
			<div class='contrent-slider'>
				<div class="glider-contain">
					<div class="glider">
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
						<div class="product-box">
							<div class='p-img-container'>
								<div class='p-img'>
									<a href="#">
										<img class"p-img-front" src="../img/Search.svg" alt="">
									</a>
								</div>
							</div>
							<div class="p-box-text">
								<h3>Nom</h3>
								<div>
									<span></span>
									<p></p>
								</div>
								<p></p>
								<p></p>
								<p></p>
								<a href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-btns">
				<button aria-label="Previous" class="glider-prev">
					<figure>
						<img src="../img/Arrow.svg" alt="fleche">
					</figure>
				</button>
				<button aria-label="Next" class="glider-next">
					<figure>
						<img src="../img/Arrow.svg" alt="fleche">
					</figure>
				</button>
			</div>

		</div>
	</section>
	{% block js %}
		<script src="../js/glider.js"></script>
		<script src="../js/main.js"></script>
	{% endblock %}
{% endblock %}
