@font-face {
    font-family: "LeagueSpartan-secondTitle";
    src:url(./LeagueSpartan/static/LeagueSpartan-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "LeagueSpartan-medium";
    src:url(./LeagueSpartan/static/LeagueSpartan-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "LocalBrewery";
    src:url(./LocalBrewery/LocalBrewerySans.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src:url(./Popins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Light";
    src:url(./Popins/Poppins-Light.ttf) format("truetype");
}

