<footer>
	<div class='width-contect-section'>
		<div class="content-footer">
			<figure class="logo">
				<img src="../img/GreenLogo.svg" alt="">
			</figure>
		</div>
		<div class="content-footer">
			<div class="contact">
				<h4></h4>
				<div class="content-contact">
					<figure class="figure-contact">
						<img src="" alt="">
					</figure>
				</div>
				<div class="content-contact">
					<figure class="figure-contact">
						<img src="" alt="">
					</figure>
				</div>
			</div>
		</div>
		<div class="content-footer">
			<div class="adresse">
				<h4></h4>
				<p></p>
				<p></p>
			</div>
		</div>
		<div class="content-footer">
			<p>Bière Sauvteur, patenaire qui vou accompagne dans votre enviede plonger dans la riche diversité des gout de la bière. C’est simple. Faite votrez choix avec un siple click et venez chercher votre commnad dans le magasin.</p>
		</div>
		<div class="content-footer">
			<div class="reaseaux">
				<a href="" class="lien-reaseaux">
					<img src="" alt="">
				</a>
				<a href="" class="lien-reaseaux">
					<img src="" alt="">
				</a>
				<a href="" class="lien-reaseaux">
					<img src="" alt="">
				</a>
			</div>
		</div>
		<div class="content-footer">
			<div class="hours">
				<h4></h4>
				<p></p>
			</div>
		</div>
	</div>
</footer>
