<header>
	<nav></nav>
	<nav class='navBurger'></nav>
	<span class='burger'>
		<figure class="ligneBurger firstLine">
			<img src="../img/beer-bottle.png" alt="ligne de burger">
		</figure>
		<figure class="ligneBurger secondLine">
			<img src="../img/beer-bottle.svg" alt="ligne de burger">
		</figure>
		<figure class="ligneBurger thirtLine">
			<img src="../img/beer-bottle.svg" alt="ligne de burger">
		</figure>
	</span>
	<span class='content-user'></span>
	<figure class='logo'>
		<img src="" alt="logo">
	</figure>
	<span class='content-search span-nav'></span>
	<span class='content panier'>
		<figure>
			<img src="" alt="">
		</figure>
	</span>
</header>
