<header>

	<div class="header-container  header-container-top">
		<div class="header-container-top-shadow"></div>
	</div>
	<div class="header-container header-container-bottom">
		<div class='block-header'>
			<nav class='navDashboard'>
				<ul>
					<li><a href="{{ path('app_page') }}">accuel</a></li>
					<li><a href="">boutique</a></li>
					<li><a href="">a propos</a></li>
				</ul>
			</nav>
		</div>

		<nav class='navBurger'></nav>
		<span class='burger item-menu-mobil'>
			<div class='container-figure-burger'>
				<figure class="ligneBurger firstLine">
					<img class='first-img-burger' src="../img/bottle.svg" alt="ligne de burger">
				</figure>
				<figure class="ligneBurger secondLine">
					<img class='second-img-burger' src="../img/bottle.svg" alt="ligne de burger">
				</figure>
				<figure class="ligneBurger thirtLine">
					<img class='third-img-burger' src="../img/bottle.svg" alt="ligne de burger">
				</figure>
			</div>
		</span>
		<span class='content-user item-menu-mobil'>
			<figure>
				<img src="../img/utilisateur(1).png" alt="logo utilisatur">
			</figure>
		</span>
		<div class='container-logo'>
			<figure class='logo'>
				<img src="../img/Logo.svg" alt="logo">
			</figure>
		</div>
		<div class='block-header'>
			<div class='item-header-right'>
				<a href="{{ path('app_register') }}" class='content-user'>
					<figure>
						<img src="../img/utilisateur(1).png" alt="logo utilisatur">
					</figure>
				</a>
				<span class='content-search span-nav'>
					<figure>
						<img src="../img/Search.svg" alt="logo loup">
					</figure>
				</span>
				<span class='content-panier '>
					<figure>
						<img src="../img/panier.svg" alt="panier">
					</figure>
				</span>

			</div>
		</div>

		<span class='content-search span-nav item-menu-mobil'>
			<figure>
				<img src="../img/Search.svg" alt="logo loup">
			</figure>
		</span>
		<span class='content-panier item-menu-mobil'>
			<figure>
				<img src="../img/panier.svg" alt="panier">
			</figure>
		</span>


	</div>


</header>
